

body {
    background-color:#eee;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: 300;
    margin-top: 20px;
}
h2 {
    display: flex;
    justify-content: left;
    padding-bottom: 20px;
    font-size: 30px;
}

h3{
    font-size: 20px;
}

p{
    font-size: 20px;
    padding-bottom: 20px;
}
a {
    color: slategray;
}
a:hover {
    color: black;
    text-decoration: none;
}

/* carousel images top  */
.img-container {
    height: 100%;
    padding: 35px 0 0 30px;
}
.carousel {
    justify-content: center;
    padding: 20px;
}
#img1 {
    background-image: url("../assets/images/floor.jpeg") !important ;
    background-size: cover;
}
#img2 {
    background-image: url("../assets/images/flowers.jpeg") !important ;
    background-size: cover;
}
#img3 {
    background-image: url("../assets/images/nicole_flowers.jpeg") !important ;
    background-size: cover;
}
#background-color{
    background-color: #b2dfdb;
}


/* portfolio */
.portfolio-cards{
    height: 400px;
    cursor: pointer;
}
.card-image{
    max-width: 400px;
    max-height: 400px;
}

.card-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}














