body {
    background-color:#eee;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: 300;
    margin-top: 20px;
}
h2 {
    display: flex;
    justify-content: left;
    padding-bottom: 20px;
    font-size: 50px;
}

h3 {
    font-size: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}

h4{
    justify-content: left;
    padding-top: 50px;
    padding-bottom: 20px;
}

h5 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: slategray;
}

a {
    color: slategray;
}
a:hover {
    color: black;
    text-decoration: none;
}
.custom-logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    justify-content: center;
}

.gray-box {
    background-color: white;
    padding: 40px;
    margin-top: 50px;
    border: gray;
    border-width: 10px;
    border-style: solid;  
}

.white-box {
    border: white;
    padding: 5%;
    border-style: solid;
    border-width: 20px;
    margin: 10px;
}

.img-fluid {
    float: right;
    padding: 10px;
}

.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: slategray;
    font-size: 20px;
    padding-right: 20px;
    text-align: justify;   
}

.carousel {
    justify-content: center;
    padding: 20px;
}

.card-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.cart-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: slategray;
    font-size: 20px;   
}

.font-awesome {
    display: flex;
    justify-content: center;
    color: black
}




